.App {
  padding: 20px;
}

h1 {
  text-align: left;
}

.formulario-login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.formulario-login input {
  padding: 4px;
  font-size: 16px;
}

.formulario-login button {
  padding: 4px 12px;
  font-size: 14px;
}
